!!!
%html
  %head
    = include_gon
    = display_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Health Measurement Demo"
      %meta{:content => content_for?(:description) ? yield(:description) : "Bigheart", :name => "description"}
        = stylesheet_link_tag "bootstrap.min"
        = stylesheet_link_tag "bootstrap-responsive.min"
        %link{href: "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel: "stylesheet"}/
        %link{rel:"stylesheet", href: "http://fonts.googleapis.com/css?family=Open+Sans:400,300"}/
        = stylesheet_link_tag "ace.min"
        = stylesheet_link_tag "ace-responsive.min"
        = stylesheet_link_tag "ace-skins.min"
        = javascript_include_tag "application"
        %script{:src => "//netdna.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"}
  %body
    = render 'layouts/navigation'
    .main-container.container-fluid
      %a#menu-toggler.menu-toggler{href: "#"}
        %span.menu-text
      = render 'layouts/sidebar'
      .main-content
        .page-content
          = yield
          %footer
